@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 5rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar for Modal to respect rounded corners */
.modal-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.modal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* For Firefox */
.modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
